
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@600&display=swap');
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;

}
/* global */
h1{
  font-family: 'Markazi Text', serif;
  font-size: 64pt !important; 
}


header {
  background-color: lightsalmon;
}

.nav-bar {
  background-color: lightblue;
}

main {
  background-color: lightyellow;
}

footer {
  background-color: firebrick;
}

button.primay{
  width: 200px;
}
/* global */
img {
  max-width: 100%;
  height: auto;
}

section{
margin-bottom:80px;
}

.flex-alignCenter{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/* banner   */
.bannerSection{
  background: #495E57;
}

.banner{
height: 450px;  
color:white
}

.hero_img{
  position: absolute;
    right:0;
}

.banner_imgWrapper{
  position: relative;
  overflow: hidden;
}