
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@600&display=swap');
/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}



/* global */
h1{
  font-family: 'Markazi Text', serif;
  font-size: 50px !important; 
  line-height: 0.75;
  
}

#logo{
  height:120px !important;
}

header nav{
  background-color: #FDFDFD !important;
  max-width: 1450px;
  margin: auto;
}

main {
  background-color: lightyellow;
  min-height: 100vh;
}

footer {
  background-color: #494949;
  text-align: center;
  color: white;
}

.navigation{
  padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 18px !important;
}

button.primay{
  width: 200px;
}
/* global */
img {
  max-width: 100%;
  height: auto;
}

section{
margin-bottom:80px;
}

.flex-alignCenter{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/* banner   */
.bannerSection{
  background: #495E57;
}

// .banner{
// height: 450px;  
// color:white
// }

.hero_img{
  position: absolute;
    right:0;
}

.banner_imgWrapper{
  position: relative;
  overflow: hidden;
}



.wrapper{
display: grid;
grid-template-areas: 
'header header header'
'main main main'
'footer footer footer';
}

header{
  grid-area: header;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}


.sm-conatiner{
display: grid;
grid-template-columns: 1fr 1fr;
  gap: 1rem; /* Adjust the gap value as per your preference */
margin: auto;
max-width: 1200px;
padding: 20px 20px !important;
align-items: center; /* Vertically align items in the center */

}

.heroImage{
  text-align: end;
}

.heroImage img{
  border-radius: 45px;
}

.heroText{
  color: white !important;
  h1{
    color: white !important;
  }
}

.bookForm{
  border: 1px solid black;
  background-color: #FCCE3F;
  margin-top: 45px;
  max-width: 750px;
  margin: auto;
}

.specialsSection{
  padding: 20px 20px !important;
  max-width: 950px;
  margin: auto;
}
.bookBg{
  background:white !important;
  padding-bottom: 80px!important;
  padding-top: 50px;
  margin-bottom: 0 !important;
}

.specials{
  display:grid;
  grid-template-areas: 
  'card card card';
  gap: 20px;
  margin-top: 45px;
}

.bannerSection{
  background: #495E57;
    height: 369px;
}


.specialsHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.bookForm{

    padding: 20px 20px;
}

.aboutSection{
  background: white;
  max-width: 900px;
  margin: auto;
  background: #495E57;
    max-width: 900px;
    margin: auto;
    color: white;
    margin-top: 50px;
    h1{
      color: white !important;
    }
}



@media (max-width: 963px) {
  .specials {
    grid-template-areas: "card card";
    max-width: 650px;
    margin: auto;
  }
  .specialsItem{
    width: 20rem;
  }
  .specialsHeader{
    flex-direction: column;
    margin-bottom: 50px;
  }
  .testimonial .card{
    margin-bottom:10px;
  }
}
@media (max-width: 830px) {
.sideImage{
  display: none;
}
.aboutSection .sm-conatiner{
  grid-template-columns: 1fr;
}
}

@media (max-width: 645px) {
  .specials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.specialsItem{
  width: 21rem !important;
  
}
}